In [1]:
import pandas as pd

In [2]:
uri = 'score.csv'

In [4]:
df= pd.read_csv(uri)

In [5]:
df

    no  id  name   score
0  NaN NaN    NaN    NaN
1  NaN NaN    NaN    NaN
2  NaN NaN    NaN    NaN
3  NaN NaN    NaN    NaN
4  NaN NaN    NaN    NaN
5  NaN NaN    NaN    NaN
6  NaN NaN    NaN    NaN
7  NaN NaN    NaN    NaN
8  NaN NaN    NaN    NaN
9  NaN NaN    NaN    NaN
10 NaN NaN    NaN    NaN
11 NaN NaN    NaN    NaN
12 NaN NaN    NaN    NaN
13 NaN NaN    NaN    NaN
14 NaN NaN    NaN    NaN
15 NaN NaN    NaN    NaN
16 NaN NaN    NaN    NaN
17 NaN NaN    NaN    NaN
18 NaN NaN    NaN    NaN
19 NaN NaN    NaN    NaN
20 NaN NaN    NaN    NaN
21 NaN NaN    NaN    NaN
22 NaN NaN    NaN    NaN
23 NaN NaN    NaN    NaN